<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     {% load static %}
    <img src="{% static 'superheroesapp/ragnarok.jpg' %}" alt="Ragnarok">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Change {{superhero.name}}</title>
</head>
<body>
  <form action="{% url 'superheroes:change' %}" method="post">
    {% csrf_token %}
    Change Name:<input type="text" name="name" id="name"><br>
    Change Alter Ego:<input type="text" name="alter_ego" id="alter_ego"><br>
    Change Primary Ability:<input type="text" name="primary_ability" id="primary_ability"><br>
    Change Secondary Ability:<input type="text" name="secondary_ability" id="secondary_ability"><br>
    Change Catchphrase:<input type="text" name="catchphrase" id="catchphrase"><br>
    <input type="submit" value="Save Changes!">
  </form>
</body>
</html>